<div class="board" tabindex="-1">
    <div class="board__game-area">
    </div>

    <audio id="specialSound">
        <source src="{{gamePath}}assets/sounds/special.mp3" type="audio/mpeg">
    </audio>
    <audio id="selectSound">
        <source src="{{gamePath}}assets/sounds/select.mp3" type="audio/mpeg">
    </audio>
    <audio id="cancelSound">
        <source src="{{gamePath}}assets/sounds/cancel.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameGameMusic" loop>
        <source src="{{gamePath}}assets/sounds/music.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameVictoryMusic">
        <source src="{{gamePath}}assets/sounds/victory.mp3" type="audio/mpeg">
    </audio>
</div>