<div class="board" tabindex="-1">
    <div class="board__game-area">
    </div>
    <audio id="specialSound">
        <source src="assets/sounds/special.mp3" type="audio/mpeg">
    </audio>
    <audio id="selectSound">
        <source src="assets/sounds/select.mp3" type="audio/mpeg">
    </audio>
    <audio id="cancelSound">
        <source src="assets/sounds/cancel.mp3" type="audio/mpeg">
    </audio>
    <audio id="flipCardSound">
        <source src="assets/sounds/flip_card.mp3" type="audio/mpeg">
    </audio>
    <audio id="moveCardSound">
        <source src="assets/sounds/move_card.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameGameMusic" loop>
        <source src="assets/sounds/music.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameVictoryMusic">
        <source src="assets/sounds/victory.mp3" type="audio/mpeg">
    </audio>
</div>