<div class="board" tabindex="-1">
    <div class="board__game-area">
    </div>
    <div class="message message__focus">
        <div class="message--text-center">{{i18n.FOCUS_MESSAGE}}</div>
        <h3 class="message--text-center">{{i18n.CONTROLS}}</h3>
        <ul>
            <li><span class="key">↑</span> ,
                <span class="key">↓</span> ,
                <span class="key">←</span> ,
                <span class="key">→</span> - {{i18n.MOVE_CURSOR}}
            </li>
            <li><span class="key">{{i18n.KEY_ENTER}}</span> - {{i18n.VALIDATE}}</li>
            <li><span class="key">{{i18n.KEY_ESC}}</span> - {{i18n.CANCEL}}</li>
        </ul>
    </div>
    <audio id="specialSound">
        <source src="assets/sounds/special.mp3" type="audio/mpeg">
    </audio>
    <audio id="selectSound">
        <source src="assets/sounds/select.mp3" type="audio/mpeg">
    </audio>
    <audio id="cancelSound">
        <source src="assets/sounds/cancel.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameGameMusic" loop>
        <source src="assets/sounds/music.mp3" type="audio/mpeg">
    </audio>
    <audio id="cardGameVictoryMusic">
        <source src="assets/sounds/victory.mp3" type="audio/mpeg">
    </audio>
</div>