<div class="message message--settings">
    <div id='setting-player-1' class='message__setting'>
        <span class='message__label'>Player 1</span>
        <span class='message__value'>
        <input type='text' class='message__input' maxlength='10' size='17' spellcheck='false' autocomplete='false'
               value="{{player1}}"/>
    </span>
    </div>

    <div id='setting-player-2' class='message__setting'>
        <span class='message__label'>Player 2</span>
        <span class='message__value'>
        <input type='text' class='message__input' maxlength='10' size='17' spellcheck='false' autocomplete='false'
               value="{{player2}}"/>
    </span>
    </div>

    <div id='setting-sound' class='message__setting'>
        <span class='message__label'>Sound</span>
        <span class='message__value'>
        <span id="setting-sound-on" class='message__check {{#if audio}}message__check--enabled{{/if}}'>ON</span>
        <span id="setting-sound-off"
              class='message__check {{#unless audio}}message__check--enabled{{/unless}}'>OFF</span>
    </span>
    </div>

    <div id='setting-rules' class='message__setting'>Rules<br/>
        <span id='rule-open' class='message__label message__check {{#if open}}message__check--enabled{{/if}}'>Open<br/>
            <span class='message--text-small message__label'>Each player can see the opponent's cards</span>
        </span><br/>
        <span id='rule-war' class='message__label message__check {{#if war}}message__check--enabled{{/if}}'>War<br/>
        <span class='message--text-small message__label'>When the number of an adjacent card matches, if the sum of all the numbers of the opponent's card is smaller, then it is flipped</span>
    </span><br/>
        <span id='rule-same' class='message__label message__check {{#if same}}message__check--enabled{{/if}}'>Same<br/>
        <span class='message--text-small message__label'>If the numbers of a card equal to the numbers of two or more adjacent cards of the opponent, they will be flipped</span>
    </span><br/>
        <span id='rule-plus' class='message__label message__check {{#if plus}}message__check--enabled{{/if}}'>Plus<br/>
        <span class='message--text-small message__label'>If a card is placed down that adds up to the same value on two or more adjacent cards of the opponent, those cards are flipped</span>
    </span><br/>
        <span id='rule-combo' class='message__label message__check {{#if combo}}message__check--enabled{{/if}}'>Combo
        <br/><span class='message--text-small message__label'>All cards which were turned over by the Same or Plus rule can turn over surrounding opponent's cards if they have a greater value</span>
    </span>
    </div>

    <div class='message__confirm'>Menu</div>

    <div class="cursor cursor--settings-0"></div>
</div>