.message__input {
  border: 0;
  outline: 0;
  background: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0) 0) transparent repeat-x left bottom;
  background-size: 3.5vmin 0.5vmin;
  color: white;
  font-family: monospace;
  letter-spacing: 1.5vmin;
  font-size: 3.5vmin;
}