<div class="splash-screen__title"></div>
<div class="card card--back splash-screen__card-1"></div>
<div class="card card--back splash-screen__card-2"></div>
<div class="card card--back splash-screen__card-3"></div>
<div class="card card--back splash-screen__card-4"></div>
<div class="card card--back splash-screen__card-5"></div>
<div class="splash-screen__blink"></div>
<div class="splash-screen__menu splash-screen__menu--hidden">
    Play<br>
    Settings
    <div class="cursor cursor--choices cursor--choice-1"></div>
</div>