body {
	margin: 0;	
	overflow: hidden;
}

.board {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-size: cover;
}

	.board__game-area {
		content: '';
		position: relative;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		background: url(../img/Background.png);
		background-position: center;
		background-size: cover;
		width: 100vmin;
	   	height: 60vmin;
	}

	.board__player-selector {
		position: absolute;
		background: url('../img/player-selector.png') center no-repeat;
		background-size: contain;
		width: 8%;
		height: 8%;
	}

	.board__player-selector--draw {
		top: 45%;
		left: 45%;
	}

		.board__player-selector--draw-player-1 {
			animation: selectorPlayer1 1.5s ease-out forwards;
		}

		.board__player-selector--draw-player-2 {
			animation: selectorPlayer2 1.5s ease-out forwards;
		}

		@keyframes selectorPlayer1 {
			from { transform: rotateY(0) rotateZ(90deg); }
			to { transform: rotateY(3060deg) rotateZ(90deg); }
		}

		@keyframes selectorPlayer2 {
			from { transform: rotateY(0) rotateZ(90deg); }
			to { transform: rotateY(2880deg) rotateZ(90deg); }
		}

	.board__player-selector--turn {
		top: 6%;
		left: auto;
		right: auto;
		transform: rotateZ(180deg);
		animation: selectorPlayerTurn .5s linear infinite;
	}

		.board__player-selector--turn-player-1 {
			left: 7%;
		}

		.board__player-selector--turn-player-2 {
			right: 7%;
		}

		@keyframes selectorPlayerTurn {
			from { top: 6%; }
			50% { top: 7%; }
			to { top: 6%; }
		}

.card {
	width: 12%;
    height: 26%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

	.card--player-1 {
		left: 5%;
	}

	.card--player-2 {
		right: 5%;
	}

	.card--row-1 {
		top: 6%;	
	}

	.card--row-2 {
		top: 20%;
	}

	.card--row-3 {
		top: 40%;
	}

	.card--col-1 {

	}

	.card--col-2 {

	}

	.card--col-3 {

	}

	.card--selected-player-1 {
		left: 7%;
	}

	.card--selected-player-2 {
		right: 7%;
	}

.board__cursor {
	position: absolute;
	width: 5%;
	height: 5%;
	background: url('../img/cursor.png') no-repeat;
	background-size: cover;
}
	.board__cursor--player-1 {
		left: 18%;
		transform: scaleX(-1);
	}

	.board__cursor--player-2 {
		right: 18%;
	}

	.board__cursor--card-4 {
		top: 25%;
	}

	.board__cursor--card-3 {
		top: 38%;
	}

	.board__cursor--card-2 {
		top: 51%;
	}

	.board__cursor--card-1 {
		top: 64%;
	}

	.board__cursor--card-0 {
		top: 77%;
	}