<div class="board__background board__background--game">
    <div class="message message--settings">
        <div class="select-choices">

            <!-- Name Player 1 -->
            <p id="setting-player-1" class="select-choices__choice">
                <span class="message__label">{{i18n.PLAYER_1}}</span>
                <input type='text' class='message__input' maxlength='10' spellcheck='false'
                       autocomplete='false'
                       value="{{player1}}"/>
            </p>

            <!-- Name Player 2 -->
            <p id="setting-player-2" class="select-choices__choice">
                <span class="message__label">{{i18n.PLAYER_2}}</span>
                <input type='text' class='message__input' maxlength='10' spellcheck='false'
                       autocomplete='false'
                       value="{{player2}}"/>
            </p>

            <!-- Audio -->
            <p id="setting-audio" class="select-choices__choice">
                <span class="message__label">{{i18n.SOUND}}</span>
                <span id="setting-audio-on"
                      class='message__check message__check--spacing {{#if audio}}message__check--enabled{{/if}}'>{{i18n.ON}}</span>
                <span id="setting-audio-off"
                      class='message__check {{#unless audio}}message__check--enabled{{/unless}}'>{{i18n.OFF}}</span>
            </p>

            <!-- Rules -->
            <p>{{i18n.RULES}}</p>

            <div id="rule-open" class="message__check {{#if open}}message__check--enabled{{/if}}">
                <div class="select-choices__choice message__label">
                    {{i18n.OPEN}}
                </div>
                <div class="message--text-small message__sub-label">{{i18n.OPEN_DESCRIPTION}}</div>
            </div>

            <div id="rule-war" class="message__check {{#if war}}message__check--enabled{{/if}}">
                <div class="select-choices__choice message__label">
                    {{i18n.WAR}}
                </div>
                <div class="message--text-small message__sub-label">{{i18n.WAR_DESCRIPTION}}</div>
            </div>

            <div id="rule-same" class="message__check {{#if same}}message__check--enabled{{/if}}">
                <div class="select-choices__choice message__label">
                    {{i18n.SAME}}
                </div>
                <div class="message--text-small message__sub-label">{{i18n.SAME_DESCRIPTION}}</div>
            </div>

            <div id="rule-plus" class="message__check {{#if plus}}message__check--enabled{{/if}}">
                <div class="select-choices__choice message__label">
                    {{i18n.PLUS}}
                </div>
                <div class="message--text-small message__sub-label">{{i18n.PLUS_DESCRIPTION}}</div>
            </div>

            <div id="rule-combo" class="message__check {{#if combo}}message__check--enabled{{/if}}">
                <div class="select-choices__choice message__label">
                    {{i18n.COMBO}}
                </div>
                <div class="message--text-small message__sub-label">{{i18n.COMBO_DESCRIPTION}}</div>
            </div>

            <p class="message__confirm">
                <span class="select-choices__choice">{{i18n.MENU}}</span>
            </p>
        </div>
    </div>
</div>
